<div class="row">
  <div class="col-md-5">
    <h2>Students</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let s of students"
        (click)="selectStudent(s)"
        [class.active]="s === selectedStudent">
        {{s.FirstName}} {{s.LastName}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewStudent()">New</button>
  </div>
  
  <div class="col-md-5 col-md-offset-2">


    <student-details
      [student]="selectedStudent"
      [createHandler]="addStudent"
      [updateHandler]="updateStudent"
      [deleteHandler]="deleteStudent">
    </student-details>
  
  </div>
</div>