


<div *ngIf="student" class="row" >
  <div class="col-md-12">
    <h2 *ngIf="student._id">Student Details</h2>
    <h2 *ngIf="!student._id">New Student</h2>
  </div>
</div>
<div *ngIf="student" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="student-first-name">First Name</label>
      <input class="form-control" name="student-first-name" [(ngModel)]="student.FirstName" placeholder="First Name"/>
    </div>
    <div class="form-group">
      <label for="student-last-name">Last Name</label>
      <input class="form-control" name="student-last-name" [(ngModel)]="student.LastName" placeholder="Last Name"/>
    </div>	
    <div class="form-group">
      <label for="student-school">School</label>
      <input class="form-control" name="student-school" [(ngModel)]="student.School" placeholder="School"/>
    </div>
    <div class="form-group">
      <label for="student-start-date">Start Date</label>
      <input class="form-control" name="student-start-date" [(ngModel)]="student.StartDate" placeholder="mm/dd/yyyy"/>
    </div>
    <button class="btn btn-primary" *ngIf="!student._id" (click)="createStudent(student)">Create</button>
    <button class="btn btn-info" *ngIf="student._id" (click)="updateStudent(student)">Update</button>
    <button class="btn btn-danger" *ngIf="student._id" (click)="deleteStudent(student._id)">Delete</button>
  </form>



</div>
