
    <!--
    <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href=""><span class="glyphicon glyphicon-home"></span> Home</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          </div>
      </div>
  </nav>
  -->
  
  <!--
  <div id="header-container">
    <div class="container">
	<div id="header">
        <a id="logo"><img src="assets/imgs/logo-b.png"></a>
    </div>
    </div>
</div>
<hr>
-->


  <!--<div>cards info list</div>
    <student-list></student-list>-->

    <!--
    <card-list></card-list>
    <app-wallet-details></app-wallet-details>
    -->
  <router-outlet></router-outlet>
