input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 3px dotted gray;
    display: inline-block;
    /*padding: 13px 22px;*/
    cursor: pointer;
    /*width: 250px;
    height: 70px;*/
    background: lightgray;
    border-radius: 5px;
}

/* For drop zone */
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }


/* Test */
 .card {
      border: 2px dashed #eee;
      padding: 1rem;
      margin: 0.4rem;
      font-family: sans-serif;
      box-shadow: 2px 2px 2px #888888;
    }

.dark {
      /* background-color: green; */
      border: 2px dashed #eee;
      border-color: #5bc0de;
      color: red;
    }

.emptyLine {
      /* background-color: green; */
      border: 2px dashed #eee;
      border-color: #f0ad4e;
      color: red;
    }

.flat {
      box-shadow: none;
    }


[contenteditable]:hover:after {
  /* content: 'click to edit';  */
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #ccc;
 
}

[contenteditable]:hover, [contenteditable]:focus {
  background: #FFFFD3;
}

[contenteditable]:focus {
  padding: 5px;
}

[contenteditable]:focus:after {
  content: '';
}