


<div *ngIf="card" class="row" >
  <div class="col-md-12">
    <h3 *ngIf="card._id">Details</h3>
    <h3 *ngIf="!card._id">Add wallete</h3>
  </div>
</div>
<div *ngIf="card" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="card-OwnerName">Owner</label>
      <input class="form-control" name="card-OwnerName" [(ngModel)]="card.OwnerName" placeholder="Wallet owner name"/>
    </div>
    <div class="form-group">
      <label for="card-CardName">Wallet name</label>
      <input class="form-control" name="card-CardName" [(ngModel)]="card.CardName" placeholder="Wallet name"/>
    </div>	
    <div class="form-group">
      <label for="card-CardAddress">Address</label>
      <input class="form-control" name="card-CardAddress" [(ngModel)]="card.CardAddress" placeholder="Address"/>
    </div>
    <div class="form-group">
      <label for="card-Password">Password</label>
      <input class="form-control" name="card-Password" [(ngModel)]="card.Password" placeholder="Password"/>
    </div>
    <div *ngIf="card._id" class="form-group">
      <label for="card-start-date">date</label>
      <input class="form-control" name="card-start-date" [(ngModel)]="card.StartDate" placeholder=""/>
    </div>
    
    <div *ngIf="card._id" class="form-group">
      <label for="card-Balance">Balance</label>
      <input class="form-control" name="card-Balance" [(ngModel)]="balance" placeholder=""/>
    </div>
    
    <div *ngIf="card._id" class="form-group">
      <label for="card-Nonce">Nonce</label>
      <input class="form-control" name="card-Nonce" [(ngModel)]="nonce" placeholder=""/>
    </div>

    <button class="btn btn-primary col-lg-3 col-md-3 col-sm-3" *ngIf="!card._id" (click)="createCard(card)">Save</button>
    <button class="btn btn-info col-lg-3 col-md-3 col-sm-3"    *ngIf="card._id" (click)="updateCard(card)">Modify</button>
    <button class="btn btn-danger col-lg-3 col-md-3 col-sm-3"  *ngIf="card._id" (click)="deleteCard(card._id)">Delete</button><br/>

    <!--
    <button class="btn btn-info" *ngIf="card.CardAddress" (click)="refreashCard(card.CardAddress)">查看详情</button>
    -->
  </form>
</div>
