<div class="container">
    <div class="form-group pull-right col-lg-2 col-md-2 col-sm-2" style="padding-top: 12px;">
        <select class="form-control" id="net" disabled required [(ngModel)]="netType" (change)="onNetChange()" name='net'>
            <option *ngFor="let item1 of netTypeArr" [value]="item1.value">{{item1.name}}</option>
        </select>
    </div>
    <a id="logo">
        <img src="assets/imgs/logo-b.png">
    </a>
</div>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Nebulas" src="assets/imgs/icon_19.png">
            </a>
            <a class="navbar-brand" href="#">NAS Wallet Library</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li *ngFor="let item of menuMyItems" class={{item.active}}>
                    <a routerLink={{item.path}}{{item.parameterID}}{{item.random}} routerLinkActive="active fluffy">{{item.linkName}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class='active'>
                    <a routerLink="/ContractDetails" routerLinkActive="active fluffy">
                        <span class="glyphicon glyphicon-edit"></span> Contracts</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/WalletDetails" routerLinkActive="active fluffy">
                        <span class="glyphicon glyphicon-usd"></span> Transactions</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/CardList" routerLinkActive="active fluffy">
                        <span class="glyphicon glyphicon-list"></span> Wallets</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <!-- COMPONENT START -->
    <!-- <div class="form-group">
        <div class="input-group input-file" name="Fichier1">
            <input type="text" class="form-control" placeholder='Choose a file...' />
            <span class="input-group-btn">
                <button class="btn btn-default btn-choose" type="button" (change)="handleInputChange($event)">Choose</button>
            </span>
        </div>
    </div> -->


    <div class="col-lg-12 col-md-12 col-sm-12  horizontal-center-row">

        <div class="row">
            <div class="form-group col-lg-8 col-md-8 col-sm-8">
                <label for="pay-from">1. Select Your Wallet File:</label>
                <input class="btn btn-primary btn-choose col-lg-12 col-md-12 col-sm-12" type="file" name="file" accept="*/*" (change)="handleInputChange($event)">
            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-2">
                <label for="pay-pw">Password</label>
                <input type="password" class="form-control " name="pay-pw" [(ngModel)]="password" placeholder="password" />
            </div>
        </div>
        <div *ngIf="fromAddress" class="row">
            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                <label for="pay-from">From Address</label>
                <input class="form-control" readonly name="pay-from" [(ngModel)]="fromAddress" placeholder="From Address" />
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-2" style="display:online;">
                <label for="pay-nonce">Nonce</label>
                <input class="form-control" readonly name="pay-nonce" [(ngModel)]="nonce" placeholder="" />
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-3" style="display:online;">
                <label for="pay-balance">From Address Balance (NAS)</label>
                <input class="form-control" readonly name="pay-balance" [(ngModel)]="fromBalance" placeholder="" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-5 col-md-5 col-sm-5">
                <label for="pay-from">Contract Address</label>
                <input class="form-control" name="pay-from" [(ngModel)]="contractAddress" placeholder="Contract Address" />
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-2">
                <label for="pay-pw">Wallet Type</label>
                <input class="form-control" readonly name="pay-pw" [(ngModel)]="contractType" placeholder="" />
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-3" style="display:online;">
                <label for="pay-balance">Contract Balance (NAS)</label>
                <input class="form-control" readonly name="pay-balance" [(ngModel)]="contractBalance" placeholder="" />
            </div>

            <div class="form-group  col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-info col-lg-12 col-md-12 col-sm-12" (click)="checkContractState()">2. Check contract</button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-10 col-md-10 col-sm-10">
                <label for="pay-pw">Contract Txhash</label>
                <input class="form-control" name="pay-pw" [(ngModel)]="contractTxhash" placeholder="" />
            </div>
            <div class="form-group  col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-default col-lg-12 col-md-12 col-sm-12" (click)="SearchContract()">Search Contract</button>
            </div>
        </div>
        <div class="row">
            <div *ngIf="contractCode" class="form-group  col-lg-12 col-md-12 col-sm-12">
                <label for="pay-limit">Contract Codes</label>
                <textarea class="form-control" rows="10" cols="100" readonly>{{contractCode}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-2 col-md-2 col-sm-2">
                <label for="pay-pw">Contract Txhash</label>
                <input class="form-control" name="pay-pw" [(ngModel)]="contractTxhash" placeholder="" />
            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-2" style="display:online;">
                <label for="pay-value">Function</label>
                <input class="form-control" name="pay-value" [(ngModel)]="function" placeholder="save" />
            </div>

            <div class="form-group col-lg-4 col-md-4 col-sm-4" style="display:online;">
                <label for="pay-value">Arguments</label>
                <input class="form-control" name="pay-value" [(ngModel)]="arguments" placeholder='["arg-1", "arg-2", ...]' />

            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-2" style="display:online;">
                <label for="pay-value">Value (NAS)</label>
                <input class="form-control" name="pay-value" [(ngModel)]="value" placeholder="Amount" />
            </div>


            <div class="form-group  col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-success col-lg-12 col-md-12 col-sm-12" (click)="testContract()">3. Test Contract</button>
            </div>
        </div>

        <div class="row">
            <!--
            <div *ngIf="testResult" class="row">
            -->
            <div class="form-group col-lg-10 col-md-10 col-sm-10">
                <label for="pay-pw">Contract test / Call result (Hash)</label>
                <textarea class="form-control" rows="4" cols="100" readonly>{{testResult}}</textarea>
            </div>
            <div class="form-group  col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-warning col-lg-12 col-md-12 col-sm-12" (click)="callContract()">4. Call Contract</button>
            </div>

        </div>

        <!--
        <div *ngIf="testResult" class="row">
            -->
        <div *ngIf="testResult" class="row">

            <div class="form-group  col-lg-4 col-md-4 col-sm-4" style="display:online;">
                <label for="pay-nonce">Contract Balance (NAS)</label>
                <input class="form-control" readonly name="pay-nonce" [(ngModel)]="newContractBalance" placeholder="" />
            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-2" style="display:online;">
                <label for="pay-balance">New From Nonce</label>
                <input class="form-control" readonly name="pay-balance" [(ngModel)]="newFromNonce" placeholder="" />
            </div>

            <div class="form-group col-lg-4 col-md-4 col-sm-4" style="display:online;">
                <label for="pay-balance">From Address Balance (NAS)</label>
                <input class="form-control" readonly name="pay-balance" [(ngModel)]="newFromBalance" placeholder="" />
            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-default btn-s col-lg-12 col-md-12 col-sm-12" (click)="onCheckContractCall()">
                    Check Balance Result
                </button>
            </div>
        </div>

        <!--
        <div *ngIf="testResult" class="row">
        -->
        <div *ngIf="testResult" class="row">


            <div class="form-group col-lg-10 col-md-10 col-sm-10">
                <label for="pay-pw">Contract Call hash check result</label>
                <textarea class="form-control" rows="1" cols="100" readonly>{{hashResult}}</textarea>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-sm-2">
                <button class="btn btn-primary btn-s col-lg-12 col-md-12 col-sm-12" (click)="checkHashResult()">
                    5. Check TX Status
                </button>
            </div>
        </div>

    </div>